$primary-bright: #FFCDD2 !default;
$primary-light: #F44336 !default;
$primary: #D32F2F !default;
$primary-dark: #B71C1C !default;

$gray-bright: #F5F5F5 !default;
$gray-light: #E0E0E0 !default;
$gray: #9E9E9E !default;
$gray-dark: #212121 !default;

$info: #000000;
$success: #000000;
$warning: #000000;
$danger: #000000;

$black: #0A0A0A !default;
$white: #FEFEFE !default;