@import 'top-bar';
@import 'left-menu';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include flex-box(column);
  font-family: $font;
  font-size: $font-size;
}

#root,
.app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  @include flex-item(1, 1, auto);
  @include flex-box(column);
}

.main {
  @include flex-box();
  @include flex-item(1, 1, auto);

  &>.body {
    background: $gray-bright;
    @include flex-box(column);
    @include flex-item(1, 1, auto);

    &>.title {
      background: $gray-light;
      @include box-shadow();
      @include flex-item(0, 0, auto);
      padding: $gutter;
      z-index: 800;
    }

    &>.content {
      @include box-shadow();
      @include flex-box();
      @include flex-item(1, 1, auto);
      padding: $gutter;
      z-index: 700;
    }

    &>.footer {
      background: #FEFEFE;
      flex: 0 0 auto;
      padding: 16px;
    }
  }
}

@media screen and (max-width: $small){
  .hide-small {
    visibility: hidden;
  }
}

@media screen and (min-width: 481px){

}